
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
     <head th:replace="~{layout/plantilla :: head}">
          <title>FORO</title>
     </head>
     <body>

          <section th:fragment="nuevoHilo" class= "py-4 mb-4 bg-light">
               <div class= "container">
                    <div class= "row">
                         <div class = "cold-md-3">
                              <button
                                   type="button"
                                   class="btn btn-primary btn-block"
                                   data-bs-toggle="modal"
                                   data-bs-target="#agregarHilo">
                                   <i class="fas fa-pluss"></i>
                                   [[#{foro.agregarHilo}]]<!-- IMPORTANTE ESTA ETIQUETA PARA LA BASE DE DATOS-->

                              </button>
                         </div>
                    </div>

               </div>

          </section>
          <!--mosttarr foros de entidad Foros-->
          <section th:fragment= "listadoForos" id="foro">
               <div clas= "container" class=" container-xxl my-5 align-item-center">
                    <div class= "row">
                         <div class="col-md-12">
                              <div class= "card">
                                   <div class="card-header">
                                        <h4>Hilos</h>
                                   </div>
                                   <!--div th:if="${foro != null and !foro.empty}"-->
                                   <table class="table table-center mx-auto">
                                        <thead class="table-dark">
                                             <tr>
                                                  <th>#</th>
                                                  <th>Comentarios</th>
                                                  <th>Publicado por</th>
                                                  <th></th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             <tr th:each="foro, contador : ${foros}">
                                                  <td>[[${contador.count}]]</td>
                                                  <td>[[${foro.comentario}]]</td>
                                                  <td>[[${foro.usuario}]]</td>
                                                  <td>
                                                       <a th:href ="@{?foro/eliminar}+${foro.idForo}" class= "btn btn-danger">
                                                            <i class="fas fa-trash"></i>
                                                       </a>
                                                  </td>
                                             </tr>
                                        </tbody>
                                   </table>

                                   <!--/div-->
                                   <!--div class="text-center p-2" th:if="${foro == null or foro.empty}">
                                        <spam>Lista Vacia</spam>
                                   </div-->
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <div th:fragment="banner">
               <section style="background-image: url('/imagenes/imagenPerros.jpg'); max-width: 98%; background-size: cover; background-position: center; height: 300px;
                     display: grid; align-items: center; border-bottom-right-radius: 200px">
                    <section class="text-white mt-5" style="padding-left: 50px">
                         <h2 style="margin-left: 120px; font-weight: bold">COMPARTE CON NOSOTROS</h2>
                         <h3>FORO</h3>
                    </section>
                    <section class="row flex-wrap">
                         <div class="col-sm-4 col-lg-2" style="margin-left: 40px">
                              <a th:href="@{#}" class="btn btn-md fas text-white d-flex align-items-center justify-content-center" style= "background-color: #ED7333; height: 60px; width: 150px">
                                   <i class="fas  "></i> Nuevo hilo
                              </a>
                         </div>

                    </section>
               </section>
          </div>

     </body>
</html>