<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <!-- Agrega la siguiente línea para incluir FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>

        <!-- fragmento mensaje inicial pagina nosotros -->
        <div th:fragment="banner">
            <section style="background-image: url('/imagenes/imagenPerros.jpg'); max-width: 98%; background-size: cover; background-position: center; height: 300px;
                     display: grid; align-items: center; border-bottom-right-radius: 200px">
                <section class="text-white mt-5" style="padding-left: 50px">
                    <h3 style="margin-left: 75px">QUEREMOS ESCUCHARTE</h3>
                    <h2 style="margin-left: 120px; font-weight: bold">CONTÁCTANOS</h2>
                </section>
                <section class="row flex-wrap">
                    <div class="col-sm-4 col-lg-2" style="margin-left: 40px">
                        <a th:href="@{#}" class="btn btn-md fas text-white d-flex align-items-center justify-content-center" style="background-color: #ED7333; height: 60px; width: 150px">
                            <i class="fas"></i> SUGERENCIA
                        </a>
                    </div>
                    <div class="col-sm-4 col-lg-2 " style="margin-left: 40px;">
                        <a th:href="@{#}" class="btn btn-md fas text-white d-flex align-items-center justify-content-center" style="background-color: #F5B333; height: 60px; width: 150px">
                            <i class="fas"></i> ESCRIBENOS
                        </a>
                    </div>
                </section>
            </section>
        </div>

        <div th:fragment="description" style="margin-left: 2%; display: flex; align-items: flex-start;" class="container-fluid text-left my-5">
            <div style="flex: 1;">
                <h7>TE INVITAMOS A NUESTRA FUNDACIÓN</h7>
                <h1>Ven a visitarnos</h1>
                <P></P>
                <P><strong>UBICACIÓN: </strong> Del Walmart de Heredia, 1,3 kilómetros al oeste, sobre la carretera a la Aurora de Heredia, 111, Heredia, Provincia: Heredia, Heredia, 40104</P>
                <P><strong> HORARIO DE VISITAS: </strong> 8:30 AM A 5:30 PM </P>
                <h4> INFO@PAWS4HOME.ORG </h4>
                <P></P>
                <p> Siguenos en nuestras redes sociales para conocer sobre los eventos y noticias relacionados con la fundación</p>
                <P></P>
                <P></P>

                <!-- Agrega íconos de redes sociales debajo de la imagen -->

            </div>
            <div style="flex: 1;">
                <img src="/imagenes/imagenPerros.jpg" alt="Description of the image" width="500" height="250" style="margin-top: 15px; margin-left: 15%">
                    <div style="display: flex; align-items: center; margin-top: 5px; margin-left: 15%;">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/tu_pagina_de_facebook" target="_blank" style="margin-right: 15px; color: blue;">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/tu_cuenta_de_twitter" target="_blank" style="margin-right: 15px; color: #00acee;">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>

                        <!-- Instagram -->
                        <a href="https://www.instagram.com/tu_cuenta_de_instagram" target="_blank" style="color: #e4405f;">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </div>
            </div>
        </div>

        <div th:fragment="description" style="margin-left: 50px; text-align: justify; max-width: 89%; justify-content: center; align-items: center;">
            <h3 style="margin-left: 35%; margin-bottom: 3%; margin-top: 5%; background-color: #96B921; height: 60px; width: 300px; display: flex; justify-content: center; align-items: center; "> NUESTRA HISTORIA </h3>

            <p > La fundación PAWS4HOME es un refugio especializado en la adopción de animales y en brindarles un hogar amoroso cuando ya no se pueden ser cuidados por sus dueños.</p>
            <p> Esta fundación nació dado a que hace varios años, en un pequeño pueblo llamado Pital ubicado en San Carlos, un grupo de ammigos y amantes de los animales se reunió para
                abordar un pequeño problema que habían notado en su comunidad. Había un creciente número de mascotas abandonadas y los refugios locales, estaban soprepasados.
                La triste realidad era que muchas de estas mascotas abandonadas y los refigios locales estaban sobrepasados. La triste realidad era que muchas de estas mascotas nunca encontraban
                un nuevo hogar y terminaban sufriendo en las calles o siendo sacrificadas. </p>

            <p> La idea de crear una fundación que se centrara exclusivamente en ayudar a estos animales desamparados comenzó a tomar forma. Fue un proceso largo y desafiante, pero el grupo estaba lleno de determinación
                y pasión por su causa. Después de meses de planificación y recaudación de fondos, nació la Fundación PAWS4HOME. <p>

            <p> El nombre "PAWS4HOME" fue elegido cuidadosamente para representar su misión. "PAWS" hacia referencua a las huellas de los animales, símbolo de la compañía y el amor que ofrecen, y "4HOME" reflejaba
                        su compromiso de encontrar un hogar para cada mascota. El lema de la fundación se convirtió en "Dando un Hogar a las Huellas Desamparadas". </p>

            <p> El primer refugio de PAWS4HOME comenzó en un pequeño edificio que habían alquilado. Con la ayuda de voluntarios apasionados,veterinarios locales y donaciones generosas, comenzaron a rescatar, cuidar y rehabilitar
                        a los animales abandonados. Cada miembro del equipo se esforzó por crear un ambiente cálido y amoroso para los animales, lleno de cariño y atención. </p>

            <p> A medida que la fundación creció, también lo hizo su impacto en la comunidad. No solo estaban encontrando hogares amorosos para los animales, sino que también se dedicaron a la educación sobre la importancia de la adopción
                        responsable y el cuidado adecuado de las mascotas. </p> 

            <p> Con el tiempo, PAWS4HOME pudo adquirir un terreno más grande y contruir un refugio más grande y moderno. El refugio se convirtió en un lugar acogedor, con áreas de juego para los animales y espacios de reunión donde 
                        las familias podían conocer a sus futuros compañeros peludos. </p>

            <p> Hoy en día, la Fundación PAWS4HOME es una organización reconocida y respetada en todo el país. Han encontrado hogares para miles de animales y su compromiso con la causa de las mascotas desamparadas sigue siendo 
                        inquebrantable. Además de su refugio, ofrecen programas de capacitación, servicios de atención veterinaria y actividades comunitarias para crear conciencia sobre la adopción y el cuidado responsable de las mascotas.</p>

            <p> La Fundación PAWS4HOME es un ejemplo inspirador de lo que la pasión, el compromiso y el amor por los animales pueden lograr. Han transformado vidas tanto de los animales rescatados como de las familias que han encontrado
                        en ellos a sus fieles compañeros. Su historia es un recordatorio de la importancia de cuidar y proteger a las mascotas desamparadas y cómo un pequeño grupo de personas puede marcar una gran diferencia en el mundo.</p>
        </div>
    </body>
</html>
