<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <link href="../../static/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section th:replace="nosotros/fragmentosNosotros :: banner" />
        
        <section th:replace="nosotros/fragmentosNosotros :: description" />
        
        <section th:replace="nosotros/fragmentosNosotros :: requirements" />
        
        <section th:replace="nosotros/fragmentosNosotros :: formButton" />
        
        <section th:replace="nosotros/fragmentosNosotros :: data" />

        <footer th:replace="layout/plantilla :: footer"></footer>

    </body>

</html>
