<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Paws4Home</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
<!--        <div class="container my-5">
            <div class="row align-items-center"> 
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header"><h2>Login</h2></div>
                        <div class="card-body">
                            <form method="POST" th:action="@{/login}">
                                <div class="form-group row my-3">
                                    <label class="col-md-5 my-auto" for="username"><i class="fas fa-user-lock"></i>Username</label>
                                    <div class="col-md-7 my-auto">
                                        <input class="form-control" type="text" name="username" id="username"/></div>
                                </div>
                                <div class="form-group row my-3">
                                    <label class="col-md-5 my-auto" for="password"><i class="fas fa-key"></i>Password</label>
                                    <div class="col-md-7 my-auto"><input class="form-control" type="password" name="password" id="password"/></div>
                                </div>
                                <div class="card-footer col text-center">
                                    <button class="btn btn-primary" >
                                        <a th:href="@{/registro/nuevo}" class="btn"><i class="fas fa-user-plus"></i> Registrar</a></button>
                                    <button class="btn btn-info" >                                        
                                        <a th:href="@{/registro/recordar}" class="btn"><i class="fas fa-envelope"></i>Recordar</a></button>
                                    <button class="btn btn-success" type="submit">
                                        <span class="btn"><i class="fas fa-sign-in-alt"></i>
                                            Autenticar</span>
                                    </button>
                                </div>
                            </form>                            
                        </div>
                    </div>
                    <div th:if="${param.error != null}">
                        <h3>[[#{error.login}]]</h3>
                    </div>
                </div>
            </div>           
        </div>-->
        
        <section class="vh-100" style="background-color: #F1FCFE">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                         <div th:if="${param.error != null}">
                            <h3 class="text-center mt-2">[[#{error.login}]]</h3>
                        </div>
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <form method="POST" th:action="@{/login}">
                                    
                                    <h3 class="mb-5">Sign in</h3>

                                    <div class="form-outline mb-4">
                                        <input type="text" name="username" id="username" class="form-control form-control-lg" />
                                        <label class="form-label" for="username">Usuario</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="password" class="form-control form-control-lg" />
                                        <label class="form-label"for="password">Contraseña</label>
                                    </div>

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
                                    <hr class="my-4"> 

                                    <button class="btn btn-lg btn-info" >
                                        <a th:href="@{/registro/nuevo}" class="text-white"> <i class="fas fa-user-plus"></i>Registrarse</a>
                                    </button>
                                    <button class="btn btn-lg btn-danger" >
                                        <a th:href="@{/registro/recordar}" class="text-white"> <i class="fas fa-envelope"></i>Recordar</a>
                                    </button>
                                </form>                            
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>